name: Deploy to GitHub Pages

permissions:
  contents: write
  pages: write

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: "pip"
          cache-dependency-path: settings.ini
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -Uq nbdev
          pip install -r requirements.txt
      - name: Build docs
        run: |
          chmod +x ./nbwdev_docs.sh
          ./nbwdev_docs.sh
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ github.token }}
          force_orphan: true
          publish_dir: ./_docs
